## Save all of info into 'default.xlsx'

In [1]:
import pandas as pd

In [29]:
default_data = pd.read_excel('./data/default.xlsx', 'Sheet1')

In [30]:
data1 = pd.read_excel('./data/B2B 8400 662022.xlsx', 'Sheet1')

In [31]:
print(data1.head())

       pallet        carton             imei                iccid  \
0  ELTOMG0149  ELTOMG004706  351629551779045  8901240177129866049
1  ELTOMG0149  ELTOMG004706  351629551781488  8901240177129856685
2  ELTOMG0149  ELTOMG004706  351629551808620  8901240177126175113
3  ELTOMG0149  ELTOMG004706  351629551823322  8901240177129869829
4  ELTOMG0149  ELTOMG004706  351629551845143  8901240177129859960

               model  color           Location      carton.1
0  Elite OctaMax 3GB  Black  Phoenix Worcester  ELTOMG004706
1  Elite OctaMax 3GB  Black  Phoenix Worcester  ELTOMG004706
2  Elite OctaMax 3GB  Black  Phoenix Worcester  ELTOMG004706
3  Elite OctaMax 3GB  Black  Phoenix Worcester  ELTOMG004706
4  Elite OctaMax 3GB  Black  Phoenix Worcester  ELTOMG004706

In [32]:
data1['1'] = 'B2B 8400 662022'

### It contained duplicated column(carton) so I drop that

In [33]:
data1 = data1.drop('carton.1', axis=1)

In [34]:
data1.columns = data1.columns.str.lower()
sorted(data1.columns)

['1', 'carton', 'color', 'iccid', 'imei', 'location', 'model', 'pallet']

In [35]:
data1 = data1.reindex(sorted(data1.columns), axis=1)
data1

,1,carton,color,iccid,imei,location,model,pallet
0,B2B 8400 662022,ELTOMG004706,Black,8901240177129866049,351629551779045,Phoenix Worcester,Elite OctaMax 3GB,ELTOMG0149
1,B2B 8400 662022,ELTOMG004706,Black,8901240177129856685,351629551781488,Phoenix Worcester,Elite OctaMax 3GB,ELTOMG0149
2,B2B 8400 662022,ELTOMG004706,Black,8901240177126175113,351629551808620,Phoenix Worcester,Elite OctaMax 3GB,ELTOMG0149
3,B2B 8400 662022,ELTOMG004706,Black,8901240177129869829,351629551823322,Phoenix Worcester,Elite OctaMax 3GB,ELTOMG0149
4,B2B 8400 662022,ELTOMG004706,Black,8901240177129859960,351629551845143,Phoenix Worcester,Elite OctaMax 3GB,ELTOMG0149
...,...,...,...,...,...,...,...,...
8395,B2B 8400 662022,ELTOMG022438,Dark Gray,8901240177121343716,351629559018149,Washington DC,Elite OctaMax 3GB,ELTOMG0758
8396,B2B 8400 662022,ELTOMG022438,Dark Gray,8901240177121345034,351629559018222,Washington DC,Elite OctaMax 3GB,ELTOMG0758
8397,B2B 8400 662022,ELTOMG022438,Dark Gray,8901240177121343690,351629559018446,Washington DC,Elite OctaMax 3GB,ELTOMG0758
8398,B2B 8400 662022,ELTOMG022438,Dark Gray,8901240177121347691,351629559026720,Washington DC,Elite OctaMax 3GB,ELTOMG0758
8399,B2B 8400 662022,ELTOMG022438,Dark Gray,8901240177121347758,351629559027520,Washington DC,Elite OctaMax 3GB,ELTOMG0758

### Copy data1 to default data

In [36]:
default_data = data1.copy()

## Load 'B2B 10080 7182022'

In [9]:
data2 = pd.read_excel('./data/B2B 10080 7182022.xlsx', 'Sheet1')

In [37]:
data2['1'] = 'B2B 10080 7182022'
print(data2.head())

         carton clec      color           fedex first location  \
0  ELTTPK000109  108  Dark Grey  7774 2887 0550  2-MidAtlantic
1  ELTTPK000109  108  Dark Grey  7774 2887 0550  2-MidAtlantic
2  ELTTPK000109  108  Dark Grey  7774 2887 0550  2-MidAtlantic
3  ELTTPK000109  108  Dark Grey  7774 2887 0550  2-MidAtlantic
4  ELTTPK000109  108  Dark Grey  7774 2887 0550  2-MidAtlantic

                 iccid             imei           location         model  \
0  8901240177165383883  357958713000956  Phoenix Marketing  Elite T8Plus
1  8901240177165383701  357958713001350  Phoenix Marketing  Elite T8Plus
2  8901240177165383735  357958713002978  Phoenix Marketing  Elite T8Plus
3  8901240177165384261  357958713005336  Phoenix Marketing  Elite T8Plus
4  8901240177165384121  357958713006490  Phoenix Marketing  Elite T8Plus

       pallet                  1
0  ELTTPK0004  B2B 10080 7182022
1  ELTTPK0004  B2B 10080 7182022
2  ELTTPK0004  B2B 10080 7182022
3  ELTTPK0004  B2B 10080 7182022
4  ELTTPK0004  B2B 10080 7182022

In [38]:
data2 = data2.rename(columns={'Inventory Location': 'Location'})
data2

,carton,clec,color,fedex,first location,iccid,imei,location,model,pallet,1
0,ELTTPK000109,108,Dark Grey,7774 2887 0550,2-MidAtlantic,8901240177165383883,357958713000956,Phoenix Marketing,Elite T8Plus,ELTTPK0004,B2B 10080 7182022
1,ELTTPK000109,108,Dark Grey,7774 2887 0550,2-MidAtlantic,8901240177165383701,357958713001350,Phoenix Marketing,Elite T8Plus,ELTTPK0004,B2B 10080 7182022
2,ELTTPK000109,108,Dark Grey,7774 2887 0550,2-MidAtlantic,8901240177165383735,357958713002978,Phoenix Marketing,Elite T8Plus,ELTTPK0004,B2B 10080 7182022
3,ELTTPK000109,108,Dark Grey,7774 2887 0550,2-MidAtlantic,8901240177165384261,357958713005336,Phoenix Marketing,Elite T8Plus,ELTTPK0004,B2B 10080 7182022
4,ELTTPK000109,108,Dark Grey,7774 2887 0550,2-MidAtlantic,8901240177165384121,357958713006490,Phoenix Marketing,Elite T8Plus,ELTTPK0004,B2B 10080 7182022
...,...,...,...,...,...,...,...,...,...,...,...
10075,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165231546,357958713127833,Chicago Office Troy,Elite T8Plus,ELTTPK0014,B2B 10080 7182022
10076,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165231868,357958713127924,Chicago Office Troy,Elite T8Plus,ELTTPK0014,B2B 10080 7182022
10077,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165230886,357958713129276,Chicago Office Troy,Elite T8Plus,ELTTPK0014,B2B 10080 7182022
10078,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165231710,357958713131496,Chicago Office Troy,Elite T8Plus,ELTTPK0014,B2B 10080 7182022
10079,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165231728,357958713134037,Chicago Office Troy,Elite T8Plus,ELTTPK0014,B2B 10080 7182022

In [39]:
data2.columns = data2.columns.str.lower()
data2 = data2.reindex(sorted(data2.columns), axis=1)
data2

,1,carton,clec,color,fedex,first location,iccid,imei,location,model,pallet
0,B2B 10080 7182022,ELTTPK000109,108,Dark Grey,7774 2887 0550,2-MidAtlantic,8901240177165383883,357958713000956,Phoenix Marketing,Elite T8Plus,ELTTPK0004
1,B2B 10080 7182022,ELTTPK000109,108,Dark Grey,7774 2887 0550,2-MidAtlantic,8901240177165383701,357958713001350,Phoenix Marketing,Elite T8Plus,ELTTPK0004
2,B2B 10080 7182022,ELTTPK000109,108,Dark Grey,7774 2887 0550,2-MidAtlantic,8901240177165383735,357958713002978,Phoenix Marketing,Elite T8Plus,ELTTPK0004
3,B2B 10080 7182022,ELTTPK000109,108,Dark Grey,7774 2887 0550,2-MidAtlantic,8901240177165384261,357958713005336,Phoenix Marketing,Elite T8Plus,ELTTPK0004
4,B2B 10080 7182022,ELTTPK000109,108,Dark Grey,7774 2887 0550,2-MidAtlantic,8901240177165384121,357958713006490,Phoenix Marketing,Elite T8Plus,ELTTPK0004
...,...,...,...,...,...,...,...,...,...,...,...
10075,B2B 10080 7182022,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165231546,357958713127833,Chicago Office Troy,Elite T8Plus,ELTTPK0014
10076,B2B 10080 7182022,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165231868,357958713127924,Chicago Office Troy,Elite T8Plus,ELTTPK0014
10077,B2B 10080 7182022,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165230886,357958713129276,Chicago Office Troy,Elite T8Plus,ELTTPK0014
10078,B2B 10080 7182022,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165231710,357958713131496,Chicago Office Troy,Elite T8Plus,ELTTPK0014
10079,B2B 10080 7182022,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165231728,357958713134037,Chicago Office Troy,Elite T8Plus,ELTTPK0014

## Combine data1 & data2

In [40]:
for col in default_data.columns:
    if col not in list(data2.columns):
        data2[col] = ""
for col in data2.columns:
    if col not in list(data1.columns):
        data1[col] = ""

data1 = data1.reindex(sorted(data1.columns), axis=1)
data2 = data2.reindex(sorted(data2.columns), axis=1)

In [41]:
data1

,1,carton,clec,color,fedex,first location,iccid,imei,location,model,pallet
0,B2B 8400 662022,ELTOMG004706,,Black,,,8901240177129866049,351629551779045,Phoenix Worcester,Elite OctaMax 3GB,ELTOMG0149
1,B2B 8400 662022,ELTOMG004706,,Black,,,8901240177129856685,351629551781488,Phoenix Worcester,Elite OctaMax 3GB,ELTOMG0149
2,B2B 8400 662022,ELTOMG004706,,Black,,,8901240177126175113,351629551808620,Phoenix Worcester,Elite OctaMax 3GB,ELTOMG0149
3,B2B 8400 662022,ELTOMG004706,,Black,,,8901240177129869829,351629551823322,Phoenix Worcester,Elite OctaMax 3GB,ELTOMG0149
4,B2B 8400 662022,ELTOMG004706,,Black,,,8901240177129859960,351629551845143,Phoenix Worcester,Elite OctaMax 3GB,ELTOMG0149
...,...,...,...,...,...,...,...,...,...,...,...
8395,B2B 8400 662022,ELTOMG022438,,Dark Gray,,,8901240177121343716,351629559018149,Washington DC,Elite OctaMax 3GB,ELTOMG0758
8396,B2B 8400 662022,ELTOMG022438,,Dark Gray,,,8901240177121345034,351629559018222,Washington DC,Elite OctaMax 3GB,ELTOMG0758
8397,B2B 8400 662022,ELTOMG022438,,Dark Gray,,,8901240177121343690,351629559018446,Washington DC,Elite OctaMax 3GB,ELTOMG0758
8398,B2B 8400 662022,ELTOMG022438,,Dark Gray,,,8901240177121347691,351629559026720,Washington DC,Elite OctaMax 3GB,ELTOMG0758
8399,B2B 8400 662022,ELTOMG022438,,Dark Gray,,,8901240177121347758,351629559027520,Washington DC,Elite OctaMax 3GB,ELTOMG0758

In [42]:
data2

,1,carton,clec,color,fedex,first location,iccid,imei,location,model,pallet
0,B2B 10080 7182022,ELTTPK000109,108,Dark Grey,7774 2887 0550,2-MidAtlantic,8901240177165383883,357958713000956,Phoenix Marketing,Elite T8Plus,ELTTPK0004
1,B2B 10080 7182022,ELTTPK000109,108,Dark Grey,7774 2887 0550,2-MidAtlantic,8901240177165383701,357958713001350,Phoenix Marketing,Elite T8Plus,ELTTPK0004
2,B2B 10080 7182022,ELTTPK000109,108,Dark Grey,7774 2887 0550,2-MidAtlantic,8901240177165383735,357958713002978,Phoenix Marketing,Elite T8Plus,ELTTPK0004
3,B2B 10080 7182022,ELTTPK000109,108,Dark Grey,7774 2887 0550,2-MidAtlantic,8901240177165384261,357958713005336,Phoenix Marketing,Elite T8Plus,ELTTPK0004
4,B2B 10080 7182022,ELTTPK000109,108,Dark Grey,7774 2887 0550,2-MidAtlantic,8901240177165384121,357958713006490,Phoenix Marketing,Elite T8Plus,ELTTPK0004
...,...,...,...,...,...,...,...,...,...,...,...
10075,B2B 10080 7182022,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165231546,357958713127833,Chicago Office Troy,Elite T8Plus,ELTTPK0014
10076,B2B 10080 7182022,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165231868,357958713127924,Chicago Office Troy,Elite T8Plus,ELTTPK0014
10077,B2B 10080 7182022,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165230886,357958713129276,Chicago Office Troy,Elite T8Plus,ELTTPK0014
10078,B2B 10080 7182022,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165231710,357958713131496,Chicago Office Troy,Elite T8Plus,ELTTPK0014
10079,B2B 10080 7182022,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165231728,357958713134037,Chicago Office Troy,Elite T8Plus,ELTTPK0014

In [43]:
default_data = [data1, data2]
default_data = pd.concat(default_data)
default_data

,1,carton,clec,color,fedex,first location,iccid,imei,location,model,pallet
0,B2B 8400 662022,ELTOMG004706,,Black,,,8901240177129866049,351629551779045,Phoenix Worcester,Elite OctaMax 3GB,ELTOMG0149
1,B2B 8400 662022,ELTOMG004706,,Black,,,8901240177129856685,351629551781488,Phoenix Worcester,Elite OctaMax 3GB,ELTOMG0149
2,B2B 8400 662022,ELTOMG004706,,Black,,,8901240177126175113,351629551808620,Phoenix Worcester,Elite OctaMax 3GB,ELTOMG0149
3,B2B 8400 662022,ELTOMG004706,,Black,,,8901240177129869829,351629551823322,Phoenix Worcester,Elite OctaMax 3GB,ELTOMG0149
4,B2B 8400 662022,ELTOMG004706,,Black,,,8901240177129859960,351629551845143,Phoenix Worcester,Elite OctaMax 3GB,ELTOMG0149
...,...,...,...,...,...,...,...,...,...,...,...
10075,B2B 10080 7182022,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165231546,357958713127833,Chicago Office Troy,Elite T8Plus,ELTTPK0014
10076,B2B 10080 7182022,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165231868,357958713127924,Chicago Office Troy,Elite T8Plus,ELTTPK0014
10077,B2B 10080 7182022,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165230886,357958713129276,Chicago Office Troy,Elite T8Plus,ELTTPK0014
10078,B2B 10080 7182022,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165231710,357958713131496,Chicago Office Troy,Elite T8Plus,ELTTPK0014
10079,B2B 10080 7182022,ELTTPK000503,108,Dark Grey,777607138898,NaN,8901240177165231728,357958713134037,Chicago Office Troy,Elite T8Plus,ELTTPK0014

In [44]:
default_data.to_excel('output.xlsx')

## Load 'B2B 20000 8102022'

In [45]:
data3 = pd.read_excel('./data/B2B 20000 8102022.xlsx', 'Master')
data3['1'] = 'B2B 20000 8102022'
data3.head()

,Pallet#,Carton#,IMEI,SIM,Make,Model,CLEC,Location,Tracking,Warehouse,Carton#.1,1
0,2,2484,352376800787010,8.901240e+18,FoxxD,T8 Plus,Telgoo Prime Time,Hansell Caraballo,777628587921,2-MidAtlantic,2484,B2B 20000 8102022
1,2,2484,352376800787028,8.901240e+18,FoxxD,T8 Plus,Telgoo Prime Time,Hansell Caraballo,777628587921,2-MidAtlantic,2484,B2B 20000 8102022
2,2,2484,352376800787036,8.901240e+18,FoxxD,T8 Plus,Telgoo Prime Time,Hansell Caraballo,777628587921,2-MidAtlantic,2484,B2B 20000 8102022
3,2,2484,352376800787044,8.901240e+18,FoxxD,T8 Plus,Telgoo Prime Time,Hansell Caraballo,777628587921,2-MidAtlantic,2484,B2B 20000 8102022
4,2,2484,352376800787051,8.901240e+18,FoxxD,T8 Plus,Telgoo Prime Time,Hansell Caraballo,777628587921,2-MidAtlantic,2484,B2B 20000 8102022

In [46]:
data3.columns = data3.columns.str.lower()
data3.columns

Index(['pallet#', 'carton#', 'imei', 'sim', 'make', 'model', 'clec',
       'location', 'tracking', 'warehouse', 'carton#.1', '1'],
      dtype='object')

In [47]:
data3 = data3.drop('carton#.1', axis=1)
data3.head()

,pallet#,carton#,imei,sim,make,model,clec,location,tracking,warehouse,1
0,2,2484,352376800787010,8.901240e+18,FoxxD,T8 Plus,Telgoo Prime Time,Hansell Caraballo,777628587921,2-MidAtlantic,B2B 20000 8102022
1,2,2484,352376800787028,8.901240e+18,FoxxD,T8 Plus,Telgoo Prime Time,Hansell Caraballo,777628587921,2-MidAtlantic,B2B 20000 8102022
2,2,2484,352376800787036,8.901240e+18,FoxxD,T8 Plus,Telgoo Prime Time,Hansell Caraballo,777628587921,2-MidAtlantic,B2B 20000 8102022
3,2,2484,352376800787044,8.901240e+18,FoxxD,T8 Plus,Telgoo Prime Time,Hansell Caraballo,777628587921,2-MidAtlantic,B2B 20000 8102022
4,2,2484,352376800787051,8.901240e+18,FoxxD,T8 Plus,Telgoo Prime Time,Hansell Caraballo,777628587921,2-MidAtlantic,B2B 20000 8102022

In [48]:
data3 = data3.rename(columns={'pallet#': 'pallet', 'carton#': 'carton'})
data3.head()

,pallet,carton,imei,sim,make,model,clec,location,tracking,warehouse,1
0,2,2484,352376800787010,8.901240e+18,FoxxD,T8 Plus,Telgoo Prime Time,Hansell Caraballo,777628587921,2-MidAtlantic,B2B 20000 8102022
1,2,2484,352376800787028,8.901240e+18,FoxxD,T8 Plus,Telgoo Prime Time,Hansell Caraballo,777628587921,2-MidAtlantic,B2B 20000 8102022
2,2,2484,352376800787036,8.901240e+18,FoxxD,T8 Plus,Telgoo Prime Time,Hansell Caraballo,777628587921,2-MidAtlantic,B2B 20000 8102022
3,2,2484,352376800787044,8.901240e+18,FoxxD,T8 Plus,Telgoo Prime Time,Hansell Caraballo,777628587921,2-MidAtlantic,B2B 20000 8102022
4,2,2484,352376800787051,8.901240e+18,FoxxD,T8 Plus,Telgoo Prime Time,Hansell Caraballo,777628587921,2-MidAtlantic,B2B 20000 8102022

In [49]:
data3 = data3.reindex(sorted(data3.columns), axis=1)
data3.head()

,1,carton,clec,imei,location,make,model,pallet,sim,tracking,warehouse
0,B2B 20000 8102022,2484,Telgoo Prime Time,352376800787010,Hansell Caraballo,FoxxD,T8 Plus,2,8.901240e+18,777628587921,2-MidAtlantic
1,B2B 20000 8102022,2484,Telgoo Prime Time,352376800787028,Hansell Caraballo,FoxxD,T8 Plus,2,8.901240e+18,777628587921,2-MidAtlantic
2,B2B 20000 8102022,2484,Telgoo Prime Time,352376800787036,Hansell Caraballo,FoxxD,T8 Plus,2,8.901240e+18,777628587921,2-MidAtlantic
3,B2B 20000 8102022,2484,Telgoo Prime Time,352376800787044,Hansell Caraballo,FoxxD,T8 Plus,2,8.901240e+18,777628587921,2-MidAtlantic
4,B2B 20000 8102022,2484,Telgoo Prime Time,352376800787051,Hansell Caraballo,FoxxD,T8 Plus,2,8.901240e+18,777628587921,2-MidAtlantic

In [50]:
for col in default_data.columns:
    if col not in list(data3.columns):
        data3[col] = ""
for col in data3.columns:
    if col not in list(default_data.columns):
        default_data[col] = ""

data3 = data3.reindex(sorted(data3.columns), axis=1)
default_data = default_data.reindex(sorted(default_data.columns), axis=1)

In [51]:
print(default_data.head())

                 1        carton clec  color fedex first location  \
0  B2B 8400 662022  ELTOMG004706       Black
1  B2B 8400 662022  ELTOMG004706       Black
2  B2B 8400 662022  ELTOMG004706       Black
3  B2B 8400 662022  ELTOMG004706       Black
4  B2B 8400 662022  ELTOMG004706       Black

                 iccid             imei           location make  \
0  8901240177129866049  351629551779045  Phoenix Worcester
1  8901240177129856685  351629551781488  Phoenix Worcester
2  8901240177126175113  351629551808620  Phoenix Worcester
3  8901240177129869829  351629551823322  Phoenix Worcester
4  8901240177129859960  351629551845143  Phoenix Worcester

               model      pallet sim tracking warehouse
0  Elite OctaMax 3GB  ELTOMG0149
1  Elite OctaMax 3GB  ELTOMG0149
2  Elite OctaMax 3GB  ELTOMG0149
3  Elite OctaMax 3GB  ELTOMG0149
4  Elite OctaMax 3GB  ELTOMG0149

In [52]:
print(data3.head())

                   1 carton               clec color fedex first location  \
0  B2B 20000 8102022   2484  Telgoo Prime Time
1  B2B 20000 8102022   2484  Telgoo Prime Time
2  B2B 20000 8102022   2484  Telgoo Prime Time
3  B2B 20000 8102022   2484  Telgoo Prime Time
4  B2B 20000 8102022   2484  Telgoo Prime Time

  iccid             imei           location   make    model pallet  \
0        352376800787010  Hansell Caraballo  FoxxD  T8 Plus      2
1        352376800787028  Hansell Caraballo  FoxxD  T8 Plus      2
2        352376800787036  Hansell Caraballo  FoxxD  T8 Plus      2
3        352376800787044  Hansell Caraballo  FoxxD  T8 Plus      2
4        352376800787051  Hansell Caraballo  FoxxD  T8 Plus      2

            sim      tracking      warehouse
0  8.901240e+18  777628587921  2-MidAtlantic
1  8.901240e+18  777628587921  2-MidAtlantic
2  8.901240e+18  777628587921  2-MidAtlantic
3  8.901240e+18  777628587921  2-MidAtlantic
4  8.901240e+18  777628587921  2-MidAtlantic

In [53]:
default_data = [default_data, data3]
default_data = pd.concat(default_data)
default_data.tail()

,1,carton,clec,color,fedex,first location,iccid,imei,location,make,model,pallet,sim,tracking,warehouse
39496,B2B 20000 8102022,3517,NaN,,,,,352376800911768,NaN,FoxxD,T8 Plus,9,8901240177160658944.0,NaN,2-MidAtlantic
39497,B2B 20000 8102022,3517,NaN,,,,,352376800911776,NaN,FoxxD,T8 Plus,9,8901240177160658944.0,NaN,2-MidAtlantic
39498,B2B 20000 8102022,3517,NaN,,,,,352376800911784,NaN,FoxxD,T8 Plus,9,8901240177160658944.0,NaN,2-MidAtlantic
39499,B2B 20000 8102022,3517,NaN,,,,,352376800911792,NaN,FoxxD,T8 Plus,9,8901240177160658944.0,NaN,2-MidAtlantic
39500,B2B 20000 8102022,3517,NaN,,,,,352376800911800,NaN,FoxxD,T8 Plus,9,8901240177160658944.0,NaN,2-MidAtlantic

In [54]:
default_data.to_excel('output.xlsx')

## Check Duplicates in 'imei'

In [56]:
boolean = default_data['imei'].duplicated().any()
boolean

True

In [ ]:
duplicate_in_student = default_data.duplicated(subset=['imei'])
if duplicate_in_student.any():
    print(default_data.loc[~duplicate_in_student], end='\n\n')

## Load 'B2B Foxx 10-17-2022 27840'

In [59]:
data4 = pd.read_excel('./data/B2B Foxx 10-17-2022 27840.xlsx', 'Sheet1')
data4.head()

  Carton       Date Affiliate CLEC Location      Tracking
0   Q152 2022-12-08  Paradigm  108    PTMHO  770715118274
1   Q145 2022-12-08  Paradigm  108    PTMHO  770715118274
2   Q538 2022-12-08  Paradigm  108    PTMHO  770715118274
3   Q537 2022-12-08  Paradigm  108    PTMHO  770715118274
4   Q166 2022-12-08  Paradigm  108    PTMHO  770715118274

In [ ]:
default_data.head()

In [61]:
data4.columns = data4.columns.str.lower()

In [62]:
for col in default_data.columns:
    if col not in data4.columns:
        data4[col]=""

for col in data4.columns:
    if col not in default_data.columns:
        default_data[col] = ""

In [63]:

data4 = data4.reindex(sorted(data4.columns), axis=1)
default_data = default_data.reindex(sorted(default_data.columns), axis=1)

In [64]:
data4.head()

,1,affiliate,carton,clec,color,date,fedex,first location,iccid,imei,location,make,model,pallet,sim,tracking,warehouse
0,,Paradigm,Q152,108,,2022-12-08,,,,,PTMHO,,,,,770715118274,
1,,Paradigm,Q145,108,,2022-12-08,,,,,PTMHO,,,,,770715118274,
2,,Paradigm,Q538,108,,2022-12-08,,,,,PTMHO,,,,,770715118274,
3,,Paradigm,Q537,108,,2022-12-08,,,,,PTMHO,,,,,770715118274,
4,,Paradigm,Q166,108,,2022-12-08,,,,,PTMHO,,,,,770715118274,

In [65]:
default_data.head()

,1,affiliate,carton,clec,color,date,fedex,first location,iccid,imei,location,make,model,pallet,sim,tracking,warehouse
0,B2B 8400 662022,,ELTOMG004706,,Black,,,,8901240177129866049,351629551779045,Phoenix Worcester,,Elite OctaMax 3GB,ELTOMG0149,,,
1,B2B 8400 662022,,ELTOMG004706,,Black,,,,8901240177129856685,351629551781488,Phoenix Worcester,,Elite OctaMax 3GB,ELTOMG0149,,,
2,B2B 8400 662022,,ELTOMG004706,,Black,,,,8901240177126175113,351629551808620,Phoenix Worcester,,Elite OctaMax 3GB,ELTOMG0149,,,
3,B2B 8400 662022,,ELTOMG004706,,Black,,,,8901240177129869829,351629551823322,Phoenix Worcester,,Elite OctaMax 3GB,ELTOMG0149,,,
4,B2B 8400 662022,,ELTOMG004706,,Black,,,,8901240177129859960,351629551845143,Phoenix Worcester,,Elite OctaMax 3GB,ELTOMG0149,,,

In [66]:
default_data = [default_data, data4]
default_data = pd.concat(default_data)

In [67]:
default_data.head()
default_data.to_excel('output.xlsx')

## Load 'B2B Foxx P8 December 2022'

In [93]:
data5 = pd.read_excel('./data/B2B Foxx P8 December 2022.xlsx', 'Sheet1')
data5['1'] = 'B2B Foxx P8 December 2022'

In [94]:
data5.head()

,Carton,Affiliate,CLEC,Location,Tracking,Date,1
0,J159,Prime Time,Telgoo Prime Time,PTMIL,771299782322,2023-02-16,B2B Foxx P8 December 2022
1,J183,Prime Time,Telgoo Prime Time,PTMIL,771299782322,2023-02-16,B2B Foxx P8 December 2022
2,J151,Prime Time,Telgoo Prime Time,PTMIL,771299782322,2023-02-16,B2B Foxx P8 December 2022
3,J152,Prime Time,Telgoo Prime Time,PTMIL,771299782322,2023-02-16,B2B Foxx P8 December 2022
4,J188,Prime Time,Telgoo Prime Time,PTMIL,771299782322,2023-02-16,B2B Foxx P8 December 2022

In [95]:
data5.columns = data5.columns.str.lower()

data5.columns
default_data = pd.read_excel('output.xlsx', 'Sheet1')

In [98]:
default_data.columns

Index(['1', 'Unnamed: 0', 'affiliate', 'carton', 'clec', 'color', 'date',
       'fedex', 'first location', 'iccid', 'imei', 'location', 'make', 'model',
       'pallet', 'sim', 'tracking', 'warehouse'],
      dtype='object')

In [96]:
data5.head()

,carton,affiliate,clec,location,tracking,date,1
0,J159,Prime Time,Telgoo Prime Time,PTMIL,771299782322,2023-02-16,B2B Foxx P8 December 2022
1,J183,Prime Time,Telgoo Prime Time,PTMIL,771299782322,2023-02-16,B2B Foxx P8 December 2022
2,J151,Prime Time,Telgoo Prime Time,PTMIL,771299782322,2023-02-16,B2B Foxx P8 December 2022
3,J152,Prime Time,Telgoo Prime Time,PTMIL,771299782322,2023-02-16,B2B Foxx P8 December 2022
4,J188,Prime Time,Telgoo Prime Time,PTMIL,771299782322,2023-02-16,B2B Foxx P8 December 2022

In [97]:
for col in default_data.columns:
    if col not in data5.columns:
        data5[col] = ""
for col in data5.columns:
    if col not in default_data.columns:
        default_data[col] = ""

data5 = data5.reindex(sorted(data5.columns), axis=1)
default_data = default_data.reindex(sorted(default_data.columns), axis=1)

In [103]:
data5 = data5.drop('Unnamed: 0', axis=1)
data5.head()

,1,affiliate,carton,clec,color,date,fedex,first location,iccid,imei,location,make,model,pallet,sim,tracking,warehouse
0,B2B Foxx P8 December 2022,Prime Time,J159,Telgoo Prime Time,,2023-02-16,,,,,PTMIL,,,,,771299782322,
1,B2B Foxx P8 December 2022,Prime Time,J183,Telgoo Prime Time,,2023-02-16,,,,,PTMIL,,,,,771299782322,
2,B2B Foxx P8 December 2022,Prime Time,J151,Telgoo Prime Time,,2023-02-16,,,,,PTMIL,,,,,771299782322,
3,B2B Foxx P8 December 2022,Prime Time,J152,Telgoo Prime Time,,2023-02-16,,,,,PTMIL,,,,,771299782322,
4,B2B Foxx P8 December 2022,Prime Time,J188,Telgoo Prime Time,,2023-02-16,,,,,PTMIL,,,,,771299782322,

In [105]:
default_data =default_data.drop('Unnamed: 0', axis=1)
default_data.head()

,1,affiliate,carton,clec,color,date,fedex,first location,iccid,imei,location,make,model,pallet,sim,tracking,warehouse
0,B2B 8400 662022,NaN,ELTOMG004706,NaN,Black,NaT,NaN,NaN,8.901240e+18,3.516296e+14,Phoenix Worcester,NaN,Elite OctaMax 3GB,ELTOMG0149,NaN,NaN,NaN
1,B2B 8400 662022,NaN,ELTOMG004706,NaN,Black,NaT,NaN,NaN,8.901240e+18,3.516296e+14,Phoenix Worcester,NaN,Elite OctaMax 3GB,ELTOMG0149,NaN,NaN,NaN
2,B2B 8400 662022,NaN,ELTOMG004706,NaN,Black,NaT,NaN,NaN,8.901240e+18,3.516296e+14,Phoenix Worcester,NaN,Elite OctaMax 3GB,ELTOMG0149,NaN,NaN,NaN
3,B2B 8400 662022,NaN,ELTOMG004706,NaN,Black,NaT,NaN,NaN,8.901240e+18,3.516296e+14,Phoenix Worcester,NaN,Elite OctaMax 3GB,ELTOMG0149,NaN,NaN,NaN
4,B2B 8400 662022,NaN,ELTOMG004706,NaN,Black,NaT,NaN,NaN,8.901240e+18,3.516296e+14,Phoenix Worcester,NaN,Elite OctaMax 3GB,ELTOMG0149,NaN,NaN,NaN

In [107]:
default_data = [default_data, data5]
default_data = pd.concat(default_data)
default_data.to_excel('output.xlsx')

## Load 'Blu Manifest 5000 10-7-2022'

In [108]:
data = pd.read_excel('./data/Blu Manifest 5000 10-7-2022.xlsx')
data['1'] = 'Blu Manifest 5000 10-7-2022'
data.head()

,No.,Pallet,Carton#,IMEI 1,SIM #,Affiliate,CLEC,Location,Tracking,Carton#.1,1
0,271,NaN,M0220WW220627297,353980550834697,8901240177180230812,NaN,NaN,NaN,NaN,M0220WW220627297,Blu Manifest 5000 10-7-2022
1,272,NaN,M0220WW220627297,353980550827170,8901240177180230804,NaN,NaN,NaN,NaN,M0220WW220627297,Blu Manifest 5000 10-7-2022
2,273,NaN,M0220WW220627297,353980550827121,8901240177180230796,NaN,NaN,NaN,NaN,M0220WW220627297,Blu Manifest 5000 10-7-2022
3,274,NaN,M0220WW220627297,353980550827832,8901240177180230788,NaN,NaN,NaN,NaN,M0220WW220627297,Blu Manifest 5000 10-7-2022
4,275,NaN,M0220WW220627297,353980550839522,8901240177180230770,NaN,NaN,NaN,NaN,M0220WW220627297,Blu Manifest 5000 10-7-2022

In [110]:
data = data.drop(['No.', 'Carton#.1'], axis=1)
data.head()

,Pallet,Carton#,IMEI 1,SIM #,Affiliate,CLEC,Location,Tracking,1
0,NaN,M0220WW220627297,353980550834697,8901240177180230812,NaN,NaN,NaN,NaN,Blu Manifest 5000 10-7-2022
1,NaN,M0220WW220627297,353980550827170,8901240177180230804,NaN,NaN,NaN,NaN,Blu Manifest 5000 10-7-2022
2,NaN,M0220WW220627297,353980550827121,8901240177180230796,NaN,NaN,NaN,NaN,Blu Manifest 5000 10-7-2022
3,NaN,M0220WW220627297,353980550827832,8901240177180230788,NaN,NaN,NaN,NaN,Blu Manifest 5000 10-7-2022
4,NaN,M0220WW220627297,353980550839522,8901240177180230770,NaN,NaN,NaN,NaN,Blu Manifest 5000 10-7-2022

In [111]:
data.columns = data.columns.str.lower()

In [112]:
data = data.rename(columns={'carton#': "carton", 'imei 1':'imei', 'sim #': 'sim'})
data.head()

,pallet,carton,imei,sim,affiliate,clec,location,tracking,1
0,NaN,M0220WW220627297,353980550834697,8901240177180230812,NaN,NaN,NaN,NaN,Blu Manifest 5000 10-7-2022
1,NaN,M0220WW220627297,353980550827170,8901240177180230804,NaN,NaN,NaN,NaN,Blu Manifest 5000 10-7-2022
2,NaN,M0220WW220627297,353980550827121,8901240177180230796,NaN,NaN,NaN,NaN,Blu Manifest 5000 10-7-2022
3,NaN,M0220WW220627297,353980550827832,8901240177180230788,NaN,NaN,NaN,NaN,Blu Manifest 5000 10-7-2022
4,NaN,M0220WW220627297,353980550839522,8901240177180230770,NaN,NaN,NaN,NaN,Blu Manifest 5000 10-7-2022

In [113]:
data = data.reindex(sorted(data.columns), axis=1)
data.head()

,1,affiliate,carton,clec,imei,location,pallet,sim,tracking
0,Blu Manifest 5000 10-7-2022,NaN,M0220WW220627297,NaN,353980550834697,NaN,NaN,8901240177180230812,NaN
1,Blu Manifest 5000 10-7-2022,NaN,M0220WW220627297,NaN,353980550827170,NaN,NaN,8901240177180230804,NaN
2,Blu Manifest 5000 10-7-2022,NaN,M0220WW220627297,NaN,353980550827121,NaN,NaN,8901240177180230796,NaN
3,Blu Manifest 5000 10-7-2022,NaN,M0220WW220627297,NaN,353980550827832,NaN,NaN,8901240177180230788,NaN
4,Blu Manifest 5000 10-7-2022,NaN,M0220WW220627297,NaN,353980550839522,NaN,NaN,8901240177180230770,NaN

In [114]:
for col in default_data.columns:
    if col not in data.columns:
        data[col] = ""
for col in data.columns:
    if col not in default_data.columns:
        default_data[col] = ""

data = data.reindex(sorted(data.columns), axis=1)
default_data = default_data.reindex(sorted(default_data.columns), axis=1)

In [115]:
data.head()

,1,affiliate,carton,clec,color,date,fedex,first location,iccid,imei,location,make,model,pallet,sim,tracking,warehouse
0,Blu Manifest 5000 10-7-2022,NaN,M0220WW220627297,NaN,,,,,,353980550834697,NaN,,,NaN,8901240177180230812,NaN,
1,Blu Manifest 5000 10-7-2022,NaN,M0220WW220627297,NaN,,,,,,353980550827170,NaN,,,NaN,8901240177180230804,NaN,
2,Blu Manifest 5000 10-7-2022,NaN,M0220WW220627297,NaN,,,,,,353980550827121,NaN,,,NaN,8901240177180230796,NaN,
3,Blu Manifest 5000 10-7-2022,NaN,M0220WW220627297,NaN,,,,,,353980550827832,NaN,,,NaN,8901240177180230788,NaN,
4,Blu Manifest 5000 10-7-2022,NaN,M0220WW220627297,NaN,,,,,,353980550839522,NaN,,,NaN,8901240177180230770,NaN,

In [116]:
default_data.head()

,1,affiliate,carton,clec,color,date,fedex,first location,iccid,imei,location,make,model,pallet,sim,tracking,warehouse
0,B2B 8400 662022,NaN,ELTOMG004706,NaN,Black,NaT,NaN,NaN,8901240177129870336.0,351629551779045.0,Phoenix Worcester,NaN,Elite OctaMax 3GB,ELTOMG0149,NaN,NaN,NaN
1,B2B 8400 662022,NaN,ELTOMG004706,NaN,Black,NaT,NaN,NaN,8901240177129860096.0,351629551781488.0,Phoenix Worcester,NaN,Elite OctaMax 3GB,ELTOMG0149,NaN,NaN,NaN
2,B2B 8400 662022,NaN,ELTOMG004706,NaN,Black,NaT,NaN,NaN,8901240177126169600.0,351629551808620.0,Phoenix Worcester,NaN,Elite OctaMax 3GB,ELTOMG0149,NaN,NaN,NaN
3,B2B 8400 662022,NaN,ELTOMG004706,NaN,Black,NaT,NaN,NaN,8901240177129870336.0,351629551823322.0,Phoenix Worcester,NaN,Elite OctaMax 3GB,ELTOMG0149,NaN,NaN,NaN
4,B2B 8400 662022,NaN,ELTOMG004706,NaN,Black,NaT,NaN,NaN,8901240177129860096.0,351629551845143.0,Phoenix Worcester,NaN,Elite OctaMax 3GB,ELTOMG0149,NaN,NaN,NaN

In [117]:
default_data = pd.concat([default_data, data])

In [118]:
default_data.to_excel('output.xlsx')

## Load 'Buy Back Store Inventory 11-7-22'

In [1]:
data = pd.read_excel('Buy Back Store Inventory 11-7-22','Carton')
data.head()

NameError: name 'pd' is not defined